@page
@model BookingManagementRazorPages.Pages.HeadDepartment.HeadDepartmentHomePageModel
<div class="container">
    <h1 class="text-center">WELCOME HEAD DEPARTMENT!</h1>
</div>                                        